@use "../etc/variables" as *;

.footer {
    width: 100%;
    height: 100%;
    padding: 0 0 2rem 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.footer-title {
    white-space: nowrap;
    font-size: 1rem;
    font-weight: $normal-font;
    color: $placeholder;
    text-align: center;
}