* {
    box-sizing: border-box;
    margin: 0;
    font-family: Noto_Sans;
}

a {
    text-decoration: none;
}
  
html, body {
    width: 100%;
    height: 100%;
    background: #171717;
    padding: 0;
    margin: 0;
}

.gradient {
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(100% 40% at 50% 47vh, $gradient-light, $gradient-dark);
}

.wrapper {
    width: 100%;
    min-height: 100%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}

.main {
    height: 100%;
    width: 1200px;
    padding: calc($search-line-size * 2.5 + 2rem) 1rem 2rem 1rem;
    position:relative;
}