$gradient-light: #2F2F2F;
$gradient-dark: #171717;
$dark: #444;
$light: #E4E4E4;
$accent: #9C7BFF;
$accent-light: #a588fd;

$shadow-before: 0px 16px 44px 0px rgba(0, 0, 0, 0.44);
$shadow-after: 0px 16px 64px 0px rgba(0, 0, 0, 0.64);

$search-line-size: 1.5rem;

$normal-font: 400;
$medium-font: 500;
$semi-bold-font: 600;
$bold-font: 700;

@font-face {
	font-family: Noto_Sans;
	font-style: normal;
	font-weight: 400;
	src:
		url('../font/Noto_Sans/ttf/NotoSans-Regular.ttf') format('ttf'),
        url('../font/Noto_Sans/woff/NotoSans-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Noto_Sans';
	font-style: normal;
	font-weight: 500;
	src:
    url('../font/Noto_Sans/ttf/NotoSans-Medium.ttf') format('ttf'),
    url('../font/Noto_Sans/woff/NotoSans-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Noto_Sans';
	font-style: normal;
	font-weight: 700;
	src:
    url('../font/Noto_Sans/ttf/NotoSans-Bold.ttf') format('ttf'),
    url('../font/Noto_Sans/woff/NotoSans-Bold.woff') format('woff');
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Noto_Sans;
}
  
html, body {
    width: 100%;
    height: 100%;
    background: #171717;
    padding: 0;
    margin: 0;
}

.gradient {
    position: fixed;
    width: 100%;
    height: 100%;
    background: radial-gradient(60% 44% at 50% 47vh, $gradient-light, $gradient-dark);
}

.wrapper {
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    height: 100%;
    width: 1200px;
    padding: calc($search-line-size * 3.5 + 2rem) 0;
    position:relative;
}

.search-bar {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;

    width: 1200px;
    height: calc($search-line-size * 2.5);

    margin-top: 0.75rem;
    border-radius: 1rem;

    background: transparent;

    z-index: 100;

    .search-line {
        height: 100%;
        width: 100%;

        font-size: $search-line-size;
        font-weight: $medium-font;

        padding: 0.75rem 1.25rem;
        background-color: $dark;
        border: 2px solid $dark;
        border-radius: 1rem;

        -webkit-box-shadow: $shadow-before;
        box-shadow: $shadow-before;

        color: $light;

        z-index: 101;

        -webkit-transition: box-shadow 0.2s ease-in-out 0s;
        transition: box-shadow ease-in-out .2s;
        transition: border ease-in-out .2s;
    }

    .search-line:hover {
        border: 2px solid $accent;
        -webkit-box-shadow: $shadow-after;
        box-shadow: $shadow-after;
        z-index: 100;
    }

    .search-line:focus {
        border: 2px solid $accent;
        -webkit-box-shadow: $shadow-after;
        box-shadow: $shadow-after;
        z-index: 100;
    }

    .search-line:focus-visible {
        border: 2px solid $accent;
        -webkit-box-shadow: $shadow-after;
        box-shadow: $shadow-after;
        z-index: 100;
        outline:none;
    }

    .search-button {
        height: 100%;
        width: fit-content;
        padding: 0.75rem;
        background-color: $accent;
        border: none;
        border-radius: 1rem;

        -webkit-box-shadow: $shadow-before;
        box-shadow: $shadow-before;

        z-index: 100;

        -webkit-transition: box-shadow 0.2s ease-in-out 0s;
        transition: box-shadow ease-in-out .2s;
        transition: border ease-in-out .2s;

        cursor: pointer;

        .search-img {
            height: 100%;
            width: auto;
            color: $light;
        }
    }

    .search-button:hover {
        background-color: $accent-light;

        -webkit-box-shadow: $shadow-after;
        box-shadow: $shadow-after;
        z-index: 100;
    }

    .search-button:focus {
        background-color: $accent-light;

        -webkit-box-shadow: $shadow-after;
        box-shadow: $shadow-after;
        z-index: 100;
    }

}

.index-page-margin {
    margin-top: 42vh;
}

.search-item-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 0.5rem;
}

.search-item {
    width: 100%;
    height: fit-content;
    background-color: $dark;
    color: $light;
    padding: 1rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    .search-item-title {
        font-weight: $medium-font;
        font-size: 1.25rem;
        color: $accent;
    }   

    .search-item-title:hover {
        color: $light;
    }

    .search-item-description {
        width: 100%;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;

        font-weight: $normal-font;
        font-size: 1rem;
        
    }
}

.search-item:hover {
    -webkit-box-shadow: $shadow-before;
    box-shadow: $shadow-before;
}

@media screen and (max-width: 1366px) {
    .main {
        width: 992px;
    }

    .search-bar {
        width: 992px;
    }
}

@media screen and (max-width: 1080px) {
    .main {
        width: 94%;
    }

    .search-bar {
        width: 94%;
    }
}

@media screen and (max-width: 768px) {
    .main {
        width: 100%;
        padding: calc($search-line-size * 2.5 + 2rem) 1rem;
    }

    .search-bar {
        width: 100%;
        padding: 0 0.75rem;
    }

    .wrapper {
        background: radial-gradient(100% 44% at 50% 47vh, $gradient-light, $gradient-dark);
    }
}

