@use "etc/variables";
@import "etc/fonts";
@import "etc/base";

@import "blocks/search-bar";
@import "blocks/footer";

@import "pages/index";
@import "pages/results";
@import "pages/item";

@media screen and (max-width: 1366px) {
    .main {
        width: 992px;
    }

    .search-bar {
        width: 992px;
    }
}

@media screen and (max-width: 1080px) {
    .main {
        width: 94%;
    }

    .search-bar {
        width: 94%;
    }
}

@media screen and (max-width: 768px) {
    .main {
        width: 100%;
        padding: calc(variables.$search-line-size * 2.5 + 2rem) 1rem 2rem 1rem;
    }

    .search-bar {
        width: 100%;
        padding: 0 0.75rem;
    }

    .wrapper {
        background: radial-gradient(100% 44% at 50% 47vh, variables.$gradient-light, variables.$gradient-dark);
    }
}

