@font-face {
	font-family: Noto_Sans;
	font-style: normal;
	font-weight: 400;
	src:
		url('/static/font/Noto_Sans/ttf/NotoSans-Regular.ttf') format('ttf'),
        url('/static/font/Noto_Sans/woff/NotoSans-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Noto_Sans';
	font-style: normal;
	font-weight: 500;
	src:
    url('/static/font/Noto_Sans/ttf/NotoSans-Medium.ttf') format('ttf'),
    url('/static/font/Noto_Sans/woff/NotoSans-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Noto_Sans';
	font-style: normal;
	font-weight: 700;
	src:
    url('/static/font/Noto_Sans/ttf/NotoSans-Bold.ttf') format('ttf'),
    url('/static/font/Noto_Sans/woff/NotoSans-Bold.woff') format('woff');
}