$gradient-light: #2F2F2F;
$gradient-dark: #171717;
$dark: #444;
$light: #E4E4E4;
$accent: #9C7BFF;
$accent-light: #a588fd;
$placeholder: #909090;

$shadow-before: 0px 16px 44px 0px rgba(0, 0, 0, 0.44);
$shadow-after: 0px 16px 64px 0px rgba(0, 0, 0, 0.64);
$shadow-light: 0px 8px 24px 0px rgba(0, 0, 0, 0.36);

$search-line-size: 1.5rem;

$normal-font: 400;
$medium-font: 500;
$semi-bold-font: 600;
$bold-font: 700;